<div class="card m-4">
    <div class="card-header">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-success">Coonectar</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-danger">Cerrar chat</button>
            </div>
        </div>
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">
        <form class="form-inline">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Escribe un mensaje..." name="texto">
                <button type="submit" class="btn btn-primary input-group-text">Enviar</button>
            </div>
        </form>
    </div>
</div>